body {
    background-color: orange !important;
    color: black             !important;
}

h1 {
    text-align: center;
    padding-top: 0.35em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 1em;
}

.devour {
    margin-bottom: 0.5em;
}

#create-burger-form {
    margin-bottom: 2em;
}